*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
}


button{
    padding: 16px 32px;
    background-color: #10b981;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.task-view,
.task-edit,
.task-delete{
    color: black;
}

button:hover{
    background-color: #139b77;
    transition: all 5ms ease-in-out;

}
header{
    border: 1px solid #E2E8F0;
    background-color: white;
    padding: 24px;
    height: 10%;
    display: flex;
    align-items: center;
}
#content-container{
    display: grid;
    height: 86%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#sidebar{
    background-color: white;
    border: 1px solid #E2E8F0;
    grid-column: 1 / 2;
    grid-row: 1 /4;
    display: flex;
    justify-content: center;
    align-items: start;
}

#content{
    background-color: #F5F7FA;
    border: 1px solid #E2E8F0;
    grid-column: 2/ 5;
    grid-row: 1 /4;
}


hr{
    /* color: #E2E8F0; */
    border: 1px solid #E2E8F0;
    width: 100%;
}
/* SIDEBAR */




.sidebar-projects,
.sidebar-home{
    display: flex;
    flex-direction: column;
    margin: 24px;
}

.sidebar-projects > *,
.sidebar-home > * {
    margin-bottom: 24px;
}

/* CONTENT */

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 32px;
}

.content-container > * {
    padding: 8px;
}

.content-header{
    display: flex;
    justify-content: space-between;
}

.add-task{
    display: none;
}
.content-body{
    display: flex;
    flex-direction: column;
}

.task{
    margin-bottom: 16px;
    border: 1px solid #e2e8f0;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.task > * {
    padding: 8px;
}


.task-date{
    font-size: 14px;
    font-style: italic;
}

.task-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.checkbox-container{
    padding-right: 8px;
}

.completed {
    opacity: .5;
}

/* DROPDOWN MENU */

.dropdown {
    position: absolute;
    right: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px 3px #e2e8f0;
    outline: none;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    /* transition: opacity 0.1s, z-index 0.1s, max-height: 5s; */
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .dropdown > * {
    padding: 8px 16px;
    border: 1px solid #e2e8f0;
    background-color: white;
    cursor: pointer;
  }

  .dropdown > *:hover{
    background-color: #f6f6f7;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    /* transition: opacity 0.2s, z-index 0.2s, max-height: 0.2s; */
    transition: all 5ms ease-in-out;
    border-radius: 10px;
  }

  .three-dots:after {
    cursor: pointer;
    color: #a4a5a5;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }



  /* PROJECT DIALOG */


  .project-dialog{
    
    align-self: safe center;
    justify-self: safe center;
    width: 400px;
    height: 250px;
    border: 5px solid rgb(249 250 251); 
    box-shadow: 2px 2px 5px 2px rgb(164, 164, 165); 
    border-radius: 10px;
    overflow: hidden;
  }

  .project-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .project-form > hr {
    margin-bottom: 24px ;
  }

  .project-form > h1{
    margin: 16px 0px;
    text-align: center;
  }

  .project-form > input{
    margin-bottom: 24px;
    padding: 8px 16px;
    border-radius: 5px;
  }

  /* TASK DIALOG */

  .task-dialog, .task-edit-dialog, .task-view-dialog{
    align-self: safe center;
    justify-self: safe center;
    width: 600px;
    height: 1000px;
    border: 5px solid rgb(249 250 251); 
    box-shadow: 2px 2px 5px 2px rgb(164, 164, 165); 
    border-radius: 10px;
    overflow: hidden;
  }

  .task-form, .task-edit-form, .task-view-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .task-form > h1, .task-edit-form > h1 , .task-view-form > h1{
    text-align: center;
    margin: 16px 0px;
  }

  .task-form > hr, .task-edit-form > hr , .task-view-form > hr{
    margin-bottom: 24px ;
  }

  .task-form > input, .task-edit-form > input, .task-view-form > input{
    margin-bottom: 24px;
    width: 50%;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid black;
  }

  
  .task-form > textarea, .task-edit-form > textarea, .task-view-form > textarea{
    margin-bottom: 24px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 8px 16px;
  }

  .priority-label{
    margin-top: 24px;
    margin-bottom: 16px;
  }

  .task-form-submit, .task-edit-form, .task-view-form {
    margin-top: 24px;
  }

  label{
    margin-bottom: 4px;
  }

